{% extends 'home.html' %}

{% block header %}

<h1>{{heading}}</h1>
<p class="lead">{{subheading}}</p>

{% endblock header %}

{% block content %}

<ul>
    <li><a href="http://127.0.0.1:8000/produk/tambah-produk/">Menambahkan Porduk</a></li>
    <li><a href="http://127.0.0.1:8000/produk/tambah-model/">Menambahkan Model Produk</a></li>
    <li><a href="http://127.0.0.1:8000/produk/tambah-variant/">Menambahkan Variant Model Produk</a></li>
    <li><a href="http://127.0.0.1:8000/produk/tambah-material/">Menambahkan Material Produk</a></li>
</ul>

{% endblock  %}

{% block content2 %}


{% endblock  %}

{% block content3 %}


{% endblock  %}
